$color-white: rgb(249, 247, 243);
$color-black: rgb(9, 10, 12);
$color-details: rgb(213, 160, 33);

$color-grad1-light: rgb(249, 190, 159);
$color-grad1-dark: rgb(247, 160, 114);
$color-grad2-light: rgb(181, 226, 250);
$color-grad2-dark: rgb(141, 210, 247);

$color-bg-dark: rgb(44, 48, 46);

$color-form-dark: rgb(42, 47, 74);
$color-form: rgb(138, 149, 165);
