.header {
	background-image: -moz-linear-gradient(to right bottom, rgba($color-black, 0.6), rgba($color-black, 0.2)),
		url(../images/laptopL.jpg);
	background-image: -webkit-linear-gradient(to right bottom, rgba($color-black, 0.6), rgba($color-black, 0.2)),
		url(../images/laptopL.jpg);
	background-image: -ms-linear-gradient(to right bottom, rgba($color-black, 0.6), rgba($color-black, 0.2)),
		url(../images/laptopL.jpg);
	background-image: linear-gradient(to right bottom, rgba($color-black, 0.6), rgba($color-black, 0.2)),
		url(../images/laptopL.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	height: 100vh;
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	&__logo {
		font-family: 'Fredericka the Great', cursive;
		line-height: 10rem;
		font-size: 2.5rem;
		display: inline-block;
		width: 10rem;
		height: 10rem;
		border: 1px solid $color-white;
		border-radius: 100%;
	}

	&__content {
		position: relative;
		display: inline-block;
		width: 50%;
		padding: 3rem 2rem;
		border-top: 1px solid $color-white;
		border-bottom: 1px solid $color-white;
		max-height: 40rem;

		@include respond(tab-land) {
			width: 60%;
		}

		@include respond(phone) {
			width: 70%;
		}
	}

	&__intro {
		&:last-child {
			margin-bottom: 3rem;
		}
	}
}
