.email-form {
	padding: 5rem 0 5rem 5rem;
	width: 45%;
	display: flex;
	flex-direction: column;

	@include respond(tab-land) {
		width: 80%;
		margin: auto;
	}

	&__half {
		display: flex;
		flex-direction: column;
		width: 50%;

		// Space between input fields
		&:last-of-type {
			margin-left: 2rem;
		}
	}

	&__sender {
		display: flex;

		@include respond(small-desk) {
			//avoid sender fields getting wider than subject/body
			width: calc(100% - 2rem);
		}

		@include respond(tab-land) {
			width: 100%;
		}
	}

	&__subject {
		display: flex;
		flex-direction: column;
	}

	& label {
		font-size: 2.25rem;
		font-weight: 300;
		color: $color-form-light;
	}

	& input,
	& textarea {
		background-color: $color-form;
		color: $color-form-light;
		font-size: 1.75rem;
		margin-bottom: 2rem;
		margin-top: 1rem;
		padding: 1rem;
		border: none;
	}

	//remove chrome defaulting style on auto-complete
	& input:-webkit-autofill {
		-webkit-box-shadow: 0 0 0 100px $color-form inset;
		-webkit-text-fill-color: $color-form-light;
	}
}

#body {
	height: 17.5rem;
}

#submit-msg {
	margin-right: auto;
	width: 20rem;
	letter-spacing: 0.05rem;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 300;
	cursor: pointer;
}
