html {
	font-family: 'Lato', sans-serif;
	color: white;
}

.heading-primary {
	font-size: 8rem;
	font-weight: 300;
	line-height: 12rem;
	letter-spacing: .5rem;
}

.heading-secondary {
}

.header__intro {
	font-size: 2rem;
	line-height: 3rem;
}
